ScrollView{
    font-family: "Lato-Black";
}

.shadow{
    z-index: 0;
    width: 100%;
    height: 170;
    margin-top: -90;
}

.white{
    background-color: white;
    margin: 0 auto;
    padding: 10 0;
    width: 90%;
    margin: 0 auto;
   
}
#whiteWrap{
     margin-top: -145px;
      z-index: 3;
}

.pizza_logo{
    width: 32%;
    margin-bottom: 4;
}

.name{
    text-align: center;
    font-weight: 700;
    padding: 8% 0;
}

.wrap{
    width: 85%; 
    margin: 0 auto;
    margin-top: 23;
    margin-bottom: 28;
    padding: 0 auto;
}

.test{
    width: 23%;
    font-size: 14;
    font-weight: 700;
    text-align: center;
}

.long{
    width: 31%;
}

.foo{
    text-align: center;
}


.points{
    width: 94.4%;
    margin: 0 auto;
    background-color: white;
    z-index: 1;
    padding: 13% 3;
}

.points_1{
    width: 37%;
    margin: 0 auto;
}

.points_logo{
    margin-left: 12;
    width: 100%;
    
}

.points_sign{
    text-align: center;
     transform: rotate(-7.2deg);
     font-size: 23;
     margin-left: 10;
     margin-top: -7;
}

.points_desc{
    text-align: center;
    margin-left: 5;
}

.bold{
    font-weight: 700;
    font-size: 23px;
}
.points_2{
    margin: 0 auto;
    width: 63%;
}
.points_wrap{
    width: 95%;
    margin: 0 auto;
    z-index: 1;
}

.shadow2{
    margin-top: -148;
    height: 160;
    padding: 0;
    z-index: 0;
}

.cake_img{
    margin-top: 15;
}

.menu{
    width: 88%;
    margin: 0 auto;
}

.menu_header{
    text-align: center;
    margin-top: 30;
    margin-bottom: 12;
    font-family: "Lato-Black";
    color: #434343;
    font-size: 18;
}



.item_l{
    text-align: right;
     font-size: 15;
     color: #434343;
}

.desc{
    font-size: 12;
    font-family: "Lato-Black";
    color: #434343;
}

.menu_item{
    margin-top: 15;
    font-size: 18;
}
.item_name{
    font-family: "Lato-Black";
    font-size: 15;
}

.order_container{
    background-color: white;
    z-index: 3;
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.order_picker{
    margin-top: 20;
    text-align: center;
    color: #434343;
    margin-bottom: 0px;
    padding: 0;
    font-size: 18;
}

.order_sign{
    font-family: "Lato-Regular";
    text-align: center;
    font-size: 15;
    color: #434343;
}

.order_type{
    font-family: "Lato-Light";
    width: 85%;
}

.font-awesome{
    text-align: right;
    color: #434343;
}

.order_list{
    z-index: 9;
}

.add_order{
    background-color: #1d5823;
    margin-top: 5;
    margin-bottom: 5;
    width: 92%;
    color: #f3f3f3;
    height: 8.6%;
    
}

.wrap_btn{
    width: 92%;
     font-family: "Lato-Black";
     font-size: 20;
}

.whiteCard{
    background-color: white;
    width: 90%;
    z-index: 3;
}
.order_name{
    text-align: center;
    color: black;
}
.order_desc{
    color: #434343;
    text-align: center;
    font-size: 15;
}


.order_extra{
    background-color: #eeeeee;
    color: #666666;
    padding: 10;
}