
.img_bar{
    width: 30%; 
    
}

.stack_img{
    margin-top: 4.3%;
   width: 100%;
    height: 120; 
}

.heavy{
    font-weight: 700;
    margin-top: 2%;
}

.content{
    width: 91.6%;
}


.description{
    font-size: 15;
    font-weight: bold;
}

.desc_light{
    font-size: 15;
}

.grey_text{
    font-size: 10;
    color: #999999;
    font-weight: 700;
}

DockLayout{
    margin-top: 2.8%;
}

.right{
    text-align: right;
    font-size: 15;
    color: #4d4d4d;
}

Page{
    background-color: yellow;
}

.not_active{
    height: 50%;
}

.rotate{
    margin-top: 45;
    transform: rotate(-10deg);
    text-align: center;
    font-size: 30;
}

.grey_stack{
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7)
}

.margin{
    margin-top: 3%;
}

#testCard{
    border: 2 solid black;
}

#side_menu{
    background-color: #f3f3f3;
}
